<section>
	<header>
		<h1>Kundenverwaltung</h1>
		<p>Ein Kunde ist im Prinzip eine Art "SocialMedia-Hub". Über diesen kann der SocialProxy die einzelnen Daten der sozialen Netzwerke aggregieren. Doch um auf diese zugreifen zu können, müssen die jeweiligen Services in diesem Bereich konfiguriert werden.</p>
	</header>
	<% if (flash) { %>
		<% if (flash.error) { %>
			<% flash.error.forEach(function (message) { %>
				<p class="alert alert-error"><%= message %></p>
			<% }); %>
		<% } else if (flash.info) { %>
			<% flash.info.forEach(function (message) { %>
				<p class="alert alert-success"><%= message %></p>
			<% }); %>
		<% } %>
	<% } %>
	<p class="pull-right">
		<a class="btn btn-success" href="/admin/customers/create"><i class="icon-plus-sign icon-white"></i> Neuen Kunden anlegen</a>
	</p>

	<% if (customers.length !== 0) { %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>ID</th>
					<th>Name</th>
					<th>Aktivierte Services</th>
					<th>Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<% var counter = 1; %>
				<% customers.forEach(function (customer) { %>
					<tr>
						<td><%= counter %></td>
						<td><%= customer.id %></td>
						<td><%= customer.name %></td>
						<td>
							<% if (customer.modules) { %>
								<%= customer.modules.join(", ") %></td>
							<% } else { %>
								-
							<% } %>
						<td>
						    <a class="btn btn-primary" href="/admin/customers/<%= customer.id %>/edit"><i class="icon-pencil icon-white"></i> Bearbeiten</a>
						    <a class="btn btn-danger" href="/admin/customers/<%= customer.id %>/delete"><i class="icon-fire icon-white"></i> Löschen</a></td>
					</tr>
					<% counter++; %>
				<% }); %>
			</tbody>
		</table>
	<% } else { %>
		Oh nooo. Bisher wurden noch keine Kunden angelegt.
	<% } %>
</section>