<section>
	<header>
		<h1>Benutzerverwaltung</h1>
		<p>In diesem Bereich können Benutzer, die auf den Administrationsbereich des SocialProxy zugreifen können, angelegt, editiert und gelöscht werden.</p>
	</header>
	<% if (flash) { %>
		<% if (flash.error) { %>
			<% flash.error.forEach(function (message) { %>
				<p class="alert alert-error"><%= message %></p>
			<% }); %>
		<% } else if (flash.info) { %>
			<% flash.info.forEach(function (message) { %>
				<p class="alert alert-success"><%= message %></p>
			<% }); %>
		<% } %>
	<% } %>
	<p class="pull-right">
		<a class="btn btn-success" href="/admin/users/create"><i class="icon-plus-sign icon-white"></i> Neuen Benutzer anlegen</a>
	</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Vorname</th>
				<th>Nachname</th>
				<th>E-Mail Adresse (login)</th>
				<th>Aktionen</th>
			</tr>
		</thead>
		<tbody>
			<% var counter = 1; %>
			<% users.forEach(function (user) { %>
				<tr>
					<td><%= counter %></td>
					<td><%= user.name.first %></td>
					<td><%= user.name.last %></td>
					<td><%= user.email %></td>
					<td>
					    <a class="btn btn-primary" href="/admin/users/<%= user.email %>/edit"><i class="icon-pencil icon-white"></i> Bearbeiten</a>
					    <a class="btn btn-danger" href="/admin/users/<%= user.email %>/delete"><i class="icon-fire icon-white"></i> Löschen</a></td>
				</tr>
				<% counter++; %>
			<% }); %>
		</tbody>
	</table>
</section>